*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
#fullpage{
    width: 100%;
    height: 100%;
    
}
.container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#myphoto{
    
    width: 100%;
    height: 500px;
    background-image: url(IMG_20240123_101218.jpg);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
nav{
    height: 20px;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    font-family: 'Abril Fatface', serif;
    margin-left: 40px;
 }
 nav a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 30px;

}
nav a:hover{
    color:rgb(158, 4, 4);
}
#myphoto p{
    font-size: 22px;
    
}
.me{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#myphoto h1{
    font-size: 30px;
    color:rgb(158, 4, 4);
}
#myphoto hr{
    width: 165px;
}

#btn{
    background-color: #9E0404 ;
    color: white;
    width: 100px;
    height: 50px;
    font-size: large;
    margin-top: 30px;
    margin-left: 280px;
    border-radius: 5px;
    border-style: none ;
}
#btn:hover{
    background-color: black;
    cursor: pointer;
}




