*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
#fullpage hr{
    width: 41.5%;
   
    border: 1px solid white;
    margin-left: 58.5%;
}
#fullpage{
    height: 90vh;
     background-color:#463D48; 
     background-image: url(blue-grey.jpg);
    background-size:800px;
    
     
}
nav{
   height: 50px;
   display: flex; 
   justify-content: flex-end;
   align-items: center;
   font-family: 'Abril Fatface', serif;
   margin-left: 40px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 30px;

}
nav a:hover{
    color:rgb(158, 4, 4);
}

#bigimg{
   
    width:100%;
    height: 85vh;
    background-image: url(laptop2.jpg);
     background-position: left;
     background-repeat: no-repeat;
    display: flex;
      flex-direction: column;
}
#intro{
    
    width: 100vh;
    margin-top: 100px;
    
    font-family: 'Ultra', serif;
}
#bigimg p{
    font-size: 25px;
    margin-bottom: 10px;
}
#bigimg b{
    font-size:50px;
}
.icon{
    color: white;
}



  /* about css  */

  #sec2{
    margin-top: 150px;
    margin-bottom: 100px;
  }
  #myphoto{
    
    width: 100%;
    height: 500px;
    background-image: url(IMG_20240123_101218.jpg);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#myphoto p{
    font-size: 22px;
    
}
.me{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#myphoto h1{
    font-size: 30px;
    color:rgb(158, 4, 4);
}
#myphoto hr{
    width: 165px;
}
#btn{
    background-color: #9E0404 ;
    color: white;
    width: 100px;
    height: 50px;
    font-size: large;
    margin-top: 30px;
    margin-left: 280px;
    border-radius: 5px;
    border-style: none ;
}
#btn:hover{
    background-color: black;
    cursor: pointer;
}





/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
